* {
	margin: 0;
	padding: 0;
}
.menu {
	width: 870px;
	margin: 45px auto;
}
.menu a {
	width: 280px;
	line-height: 40px;
	margin: 4px;
	text-align: center;
	float:left;
	opacity: 0.6
}

.menu a:hover {
	opacity: 1
}
